/*global rules*/
html, body {
  margin: 0;
  background-color: black;
  font-size: 115%;
}
h2, h3, h4, h5 {
  color: seashell;
  margin: 0;
  font-family: helvetica;
  opacity: 0.9;
  }
/*fixed navbar*/
header {
  background-color: black;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  z-index: 20;
}
#logo {
  height: 50px;
  margin-left: 10px;
}
header ul {
  padding: 0;
}
header li {
  display: inline;
  margin: 0 10px;
}
header a {
  color: seashell;
  font-size: 22px;
}

#main {
  position: relative;
  top: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  z-index: 10;
}

#mission {
  background: url(../img/img-mission-background.jpg) center center no-repeat;
  background-size: cover;
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  padding-top: 69px;
}
/*text in front of image*/
.banner {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
  position: relative;
  bottom: 34.5px;
}

#featured {
  display: flex;
  justify-content: center;
  width: 1000px;
  flex-direction: column;
  padding-top: 69px;
}

#teas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.tea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.tea img {
  width: 300px;
  height: 200px;
  margin: 10px;
}
/*separate container for background image to allow link to locate to section properly with use of padding*/
#locations {
  padding-top: 69px;
}
#locations .container {
  width: 1200px;
  height: 500px;
  background: url(../img/img-locations-background.jpg) no-repeat;
  background-position: 100% 15%;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.places {
  display: flex;
}
.container > h2 {
  margin: 80px 0 15px 0;
}

#locations .banner {
  width: 300px;
  height: 250px;
  margin: 0 20px;
}
/*contact information/footer*/
footer {
  background-color: black;
  position: relative;
  top: 69px;

}
#contact {
  display: flex;
  height: 200px;
  width: 1000px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
#copy {
  margin: 20px 0 0 30px;
}
/*fixes misaligned sections on smaller devices*/
@media (max-width:1200px) {
  #main, footer {
    width: 1200px;
  }
}
